@model IEnumerable<eLibrary.Models.Book>

<div class="col-md-10 col-md-offset-1">

    <h3>Книги серии:</h3>
    <table class="table">
        <tr>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("ShowBook", "Book", new {id = item.Id})">@item.Name</a>
                </td>

                <td>
                        @if (item.Annotation != null && item.Annotation.Length > 100)
                        {
                            <label for="Annotation">
                                @item.Annotation.Remove(100)...
                            </label>
                        }
                    </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>


                @if (HttpContext.Current.User.IsInRole("Администратор") || HttpContext.Current.User.IsInRole("Модератор"))
                {
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", "Book", new {id = item.Id}, null)
                    </td>
                    <td>
                        <a data-toggle="modal" href="@Url.Action("Delete", "Book", new {id = item.Id})" data-target="#deleteModal">Удалить</a>
                    </td>
                }
            </tr>
        }
    </table>
</div>