@model IEnumerable<eLibrary.Models.Series>

<div id="">

    @if (@Model != null && @Model.Count()!=0)
    {
        <h4>Найденные серии:</h4>
        
        <table class="table table-hover">
        @foreach (var item in Model)
        {
            <tbody style="border: 1px">
            <tr><td>
                <a href="@Url.Action("ShowSerie", "Series", new {id = item.Id})" class="">@item.Name</a>
            </td>
            <td>
                @*@Html.ActionLink("Удалить", "Delete", new {id = item.Id}, new {@class = ""})*@
                <a data-toggle="modal" href="@Url.Action("Delete", "Series", new {id = item.Id})" data-target="#deleteModal">Удалить</a>
            </td>
            <td>
                @Ajax.ActionLink("Редактировать", "Edit", "Series", new {id = @item.Id},
                    new AjaxOptions {UpdateTargetId = "createForm"}, new {@class = ""})
            </td>

        </tr>
        </tbody>
        }

        </table>
    }
    else
    {
        <h4>@ViewBag.Result</h4>
    }
</div>