@model eLibrary.Models.Series

@{
    ViewBag.Title = "ShowSerie";
}

<div class="col-md-10 col-md-offset-1">
    @if (HttpContext.Current.User.IsInRole("Администратор") || HttpContext.Current.User.IsInRole("Модератор"))
    {

        @Ajax.ActionLink("Редактировать", "Edit", "Series", new {id = Model.Id},
                             new AjaxOptions { UpdateTargetId = "editForm" }, new { @class = "btn btn-primary btn-sm left-margin" })
        
        @Html.ActionLink("Добавить серию", "Main", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm left-margin" })

        @*@Html.ActionLink("Редактировать", "Main", new { id = Model.Id }, new { @class = "label label-primary" })*@

        @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })

        <div id="editForm">

        </div>
    }
</div>


@if (Model != null)
{
    <div class="col-md-6 col-md-offset-1">
        <div class="">
            <h2>@Model.Name</h2>
        </div>
        @*@if (@Model.Description != "")
        {
            <div>
                <label class="bold">Описание:</label>
                <div>
                    <p>@Model.Description</p>
                </div>
            </div>
        }*@
        @if (@Model.Description != null)
        {
            if (Model.Description != "")
            {
                <label class="bold">Описание:</label>
                <div style="background-color: #f5f5f5; padding: 30px; border: 1px solid #ccc; text-indent: 40px; margin-bottom: 20px;">
                    @{
                string newPage = Model.Description;
                string[] split = newPage.Split(new Char[] { '\r' }); //делим на абзацы

                foreach (var p in split)
                {
                    <p align="justify">@p</p>
                }
                    }
                </div>
            }
        }
    </div>
}
<div id="books">
    @Ajax.ActionLink("Книги", "BooksBySerie", "Series", new { id = @Model.Id }, new AjaxOptions { UpdateTargetId = "books" }, new { id = "showBooks", @class = "col-md-offset-1" })
</div>


<script>
    $('#showBooks').click();
</script>