@using System.Web.Http.Tracing
@model IEnumerable<eLibrary.Models.Comment>

<div id="searchResultComments">
    @if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="comment" style="">
            @if (item.User.Login != null)
            {
                <label class="bold">@item.User.Login</label>
            }
            <label class="bold">@item.Time</label>

            @if (HttpContext.Current.User.IsInRole("Администратор") || HttpContext.Current.User.IsInRole("Модератор")
                 || HttpContext.Current.User.Identity.Name == @item.User.Name)
            {
                @Html.ActionLink("Удалить", "Delete", new {id = item.Id}, new {@class = "right"})
            }
            <div>
                @item.Text
            </div>
        </div>
    }
    }
</div>