@using System.Text
@model eLibrary.Models.Book
@{
    ViewBag.Title = "Чтение";
}
@if (Model.Text_txt != null)
{
    @*<div class="row">*@
        
        <div class="col-md-9 col-md-offset-1" style="margin-bottom: 30px;">

            @foreach (var p in @ViewBag.split)
            {
                <p align=" justify" style="text-indent: 40px;">
            @p
            </p>
            }
            
            <ul class="pagination">
                <li>@Html.ActionLink("<<", "Read", new { id = Model.Id, pageNumber = ViewBag.currentPage - 1 })</li>
                <li>@Html.ActionLink("1", "Read", new { id = Model.Id, pageNumber = 0 })</li>
                <li>@Html.ActionLink("2", "Read", new { id = Model.Id, pageNumber = 1 })</li>
                <li><a> . . . </a> </li>
                <li><a href="@Url.Action("Read", "Book", new { id = Model.Id, pageNumber = ViewBag.lastPage - 1 })">@(ViewBag.lastPage - 1)</a></li>
                <li><a href="@Url.Action("Read", "Book", new { id = Model.Id, pageNumber = ViewBag.lastPage })">@ViewBag.lastPage</a></li>
                <li>@Html.ActionLink(">>", "Read", new { id = Model.Id, pageNumber = ViewBag.currentPage + 1 })</li>
            </ul>

            @*@Html.ActionLink("Первая", "Read", new { id = Model.Id, pageNumber = 0 }, new { @class = "btn btn-default btn-sm" })
            @Html.ActionLink("Предыдущая", "Read", new { id = Model.Id, pageNumber = ViewBag.currentPage - 1 }, new { @class = "btn btn-default btn-sm" })
            @Html.ActionLink("Следующая", "Read", new { id = Model.Id, pageNumber = ViewBag.currentPage + 1 }, new { @class = "btn btn-default btn-sm" })
            @Html.ActionLink("Последняя", "Read", new { id = Model.Id, pageNumber = @ViewBag.lastPage }, new { @class = "btn btn-default btn-sm" })*@


        </div>
    @*</div>*@
}