@model IEnumerable<eLibrary.Models.User>
@{
    ViewBag.Title = "Список пользователей";
}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div id="dialogContent" class="modal-content"></div>
    </div>
</div>

<script>
    $('body').on('hidden.bs.modal', '.modal', function() {
        //    $(this).removeData('bs.modal');
        location.reload();
    });
</script>

    <div class="col-md-10 col-md-offset-1">
    <div>
        
        @if (ViewContext.HttpContext.User.IsInRole("Администратор"))
        {
            @Html.ActionLink("Создать пользователя", "Create", "User", new { @class = "btn btn-primary btn-sm" })
            @*<a href="../User/Create" class="btn btn-primary btn-sm">Создать пользователя</a>*@
        }
        <h2>Список пользователей</h2>
    </div>
        <div>
            <table class="table">
                <tr>

                    @if (HttpContext.Current.User.IsInRole("Администратор"))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.Login)
                        </th>
                    }
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Information)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoleId)
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        @if (HttpContext.Current.User.IsInRole("Администратор"))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Login)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Information)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role.Name)
                        </td>
                        @if (HttpContext.Current.User.IsInRole("Администратор"))
                        {
                            <td>
                                @Html.ActionLink("Редактировать", "Edit", new {id = item.Id})
                            </td>
                            <td>
                                @*@Html.ActionLink("Удалить", "Delete", new {id = item.Id})*@
                                <a data-toggle="modal" href="@Url.Action("Delete", "User", new {id = item.Id})" data-target="#deleteModal">Удалить</a>
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
</div>
