<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <link rel='stylesheet' href='../../Content/bootstrap.css' type='text/css' media='all'>
</head>
<body>
    <nav>
        @if (!(ViewContext.HttpContext.User.IsInRole("Администратор") || ViewContext.HttpContext.User.IsInRole("Модератор")
    || ViewContext.HttpContext.User.IsInRole("Пользователь")))
        {
            @Html.ActionLink("Войти", "../Account/Login")
            @Html.ActionLink("Регистрация", "../User/CreateUser")
        }
        @Html.ActionLink("Поиск", "../Home/FindBook")
        @if (ViewContext.HttpContext.User.IsInRole("Администратор") || ViewContext.HttpContext.User.IsInRole("Модератор")
         || ViewContext.HttpContext.User.IsInRole("Пользователь"))
        {
            @Html.ActionLink("Выйти", "../Account/LogOff")
        }

        @Html.ActionLink("Авторы", "../Author/Index")
        @Html.ActionLink("Книги", "../Book/Index")

        @if (ViewContext.HttpContext.User.IsInRole("Администратор"))
        {
            @Html.ActionLink("Список пользователей", "../User/Index")
        }

    </nav>

@RenderBody()

@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)
</body>
</html>
