@model eLibrary.Models.Author

@{
    ViewBag.Title = "Редактирование автора";
}


<div class="col-sm-offset-1 col-sm-6">
    <form method="post" action="Edit" class="form-horizontal" role="form" id="addAuthorForm" enctype="multipart/form-data">
        <legend>Редактирование автора</legend>

        <input type="text" name="Id" id="Id" value="@Model.Id" hidden="hidden">

        <div class="form-group">
            <label for="image" class="col-sm-3 control-label">Изображение</label>
            <div class="col-sm-9">
                <input type="file" class="form-control" name="uploadImage" id="image">
            </div>
        </div>


        <div class="form-group">
            <label for="bookName" class="col-sm-3 control-label">Фамилия</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="Family" required="required" value="@Model.Family">
                @Html.ValidationMessageFor(model => model.Family)
            </div>
        </div>

        <div class="form-group">
            <label for="bookName" class="col-sm-3 control-label">Имя</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="Name" value="@Model.Name">
            </div>
        </div>

        <div class="form-group">
            <label for="bookName" class="col-sm-3 control-label">Отчество</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="Patronymic" value="@Model.Patronymic">
            </div>
        </div>

        <div class="form-group">
            <label for="annotation" class="col-sm-3 control-label">Описание</label>
            <div class="col-sm-9">
                <textarea cols="36" id="annotation" name="Information" rows="9" class="form-control input-sm">@Model.Information</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="submit" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <input type="submit" value="Сохранить" class="btn btn-success btn-xs form-control" id="submit" />
            </div>
        </div>
    </form>
</div>
<div class="col-md-offset-0 col-md-3">
    <img id="blah" src="" style="width: 100%; margin-top: 40px;" />
</div>
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#image").change(function () {
        readURL(this);
    });
</script>


@*<div class="col-md-offset-1 col-md-10">
    <h2>Редактирование</h2>
</div>
@using (Html.BeginForm("Edit", "Author", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <form class="">

            <div class="col-sm-6 col-sm-offset-1">
                <div class="form-group">
                    <label>Изображение</label>
                    <input type="file" name="uploadImage" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Фамилия</label>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Family)
                    </div>
                </div>

                <div class="form-group">
                    <label>Имя</label>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    <label>Отчество</label>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Patronymic)
                    </div>
                </div>

                <div class="form-group">
                    <label>Описание</label>
                    <div class="editor-field">
                        @Html.TextAreaFor(m => m.Information, new {@class = "form-control input-sm"})
                    </div>
                </div>

                <input type="submit" value="Сохранить" class="btn btn-success btn-xs form-control"/>

            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    @if (Model.Image != null)
                    {
                        @Html.Raw("<img style='width:100%' src=\"data:image/jpeg;base64,"
                                  + Convert.ToBase64String(Model.Image) + "\" />")
                    }
                </div>
            </div>
    </form>
}*@